body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-snap-type: y mandatory;
}

audio {
  position: fixed;
  top: 2%;
  right: 1%;
  width: 15%;
  height: 5%;
  z-index: 100;
}

#backToTop {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 5%;
  height: 5%;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-out;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.videoContainer {
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  background: url("assets/main/main.jpg");
  background-size: cover;
  position: relative;
}
canvas {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
}
#title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
#scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  animation: fade 3s ease-in-out infinite;
}

#sunshine {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background: url("assets/sunshine/sunshine-sky.jpg");
  transform: scaleX(-1);
  overflow: hidden;
}

#hand {
  position: absolute;
  bottom: -60%;
  right: -30%;
  transform: translate(-60%, -45%) scaleX(-1);
  width: 90%;
  z-index: 1;
  transition: transform 1s ease-out;
}
#flare {
  position: absolute;
  top: -20%;
  left: 0%;
  width: 160%;
}
#flare2 {
  position: absolute;
  top: -20%;
  left: 0%;
  width: 160%;
  opacity: 0.3;
  z-index: 2;
}
#flareEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: flareEffect 5s ease-in-out infinite;
}

@keyframes flareEffect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#gun {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background: url("assets/gun/bg.jpg");
  overflow: hidden;
}

#character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  animation: upDown 2s ease-in-out infinite;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#gunHand {
  display: absolute;
  top: 30%;
  left: 48%;
  width: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: gunUpDown 0.5s ease-in-out infinite;
}

@keyframes upDown {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -48%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes gunUpDown {
  0% {
    transform: translate(-50.25%, -0.25%);
  }
  25% {
    transform: translate(-49.75%, 0%);
  }
  50% {
    transform: translate(-50.25%, 0.25%);
  }
  75% {
    transform: translate(-49.75%, 0%);
  }
  100% {
    transform: translate(-50.25%, -0.25%);
  }
}

@media (max-aspect-ratio: 3840/2160) {
  .videoContainer {
    height: 100vh;
    position: relative;
  }
  video {
    height: 100vh;
    width: 177.78vw;
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  audio {
    width: 35%;
  }
  #backToTop {
    right: 5%;
    bottom: 3%;
  }
  #title {
    width: 70%;
  }
  #scroll {
    width: 15%;
  }
  #sunshine {
    background-position: 30% 0%;
  }
  #flare {
    top: 0%;
    left: -60%;
    transform: scaleX(-1);
  }
  #flare2 {
    top: 0%;
    left: -60%;
    transform: scaleX(-1);
  }
  #hand {
    top: 40%;
    left: 80%;
    width: 200vh;
  }

  #character {
    height: 105vh;
    width: 186.669vh;
  }

  #gunHand {
    width: 65vh;
  }
}
