html {
  scroll-snap-type: y mandatory;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

canvas {
  width: 100%;
  height: 100%;
}

audio {
  position: fixed;
  top: 2%;
  right: 1%;
  width: 20%;
  height: 5%;
  z-index: 100;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
 Layout
*/

#button-top {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 5%;
  height: 5%;
  z-index: 100;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-out;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

/* 
 bgm-info
*/

#bgm-info {
  position: fixed;
  bottom: 2%;
  left: 4%;
  z-index: 100;
  text-shadow: #000 1px 0 10px;
}

#bgm-info-title {
  color: white;
  font-size: 1.5rem;
  word-break: keep-all;
  margin-bottom: 0;
}

#bgm-info-title-korean {
  color: white;
  font-size: 0.8rem;
  word-break: keep-all;
}

#bgm-info-artist {
  color: white;
  font-size: 0.7rem;
}

/* 
 lyric
*/

#lyric {
  position: fixed;
  top: 50%;
  left: 50%;
  padding-left: 1%;
  padding-right: 1%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-shadow: #000 1px 0 10px;
  word-break: keep-all;
}

#lyric-original {
  color: white;
  font-size: 3rem;
  word-break: keep-all;
  text-align: center;
}

#lyric-pronunciation {
  color: white;
  font-size: 1rem;
  word-break: keep-all;
  text-align: center;
  font-weight: 400;
}

#lyric-korean {
  color: white;
  font-size: 2rem;
  text-align: center;
  word-break: keep-all;
}

.lyric-fade {
  animation: lyric-fade 0.3s ease-out;
}

@keyframes lyric-fade {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

/* 
 main scene
*/

#scene-main {
  scroll-snap-align: start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
}

#main-video {
  width: 100vw;
  background: url("assets/main/main.jpg");
  background-size: cover;
  position: relative;
}

#main-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  word-wrap: normal;
  word-break: keep-all;
}

#main-scroll {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  animation: fadeInOut 3s ease-in-out infinite;
}

/* 
 raindrop scene
*/

#scene-raindrop {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

/* 
 raindrop shrine
*/

#scene-shrine {
  scroll-snap-align: start;
  width: 100%;
  height: 1000vh;
  position: relative;
}

#shrine-img-frame {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}

/* 
 sunshine shrine
*/

#scene-sunshine {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background: url("assets/sunshine/sunshine-sky.jpg");
  transform: scaleX(-1);
  overflow: hidden;
}

#sunshine-hand {
  position: absolute;
  bottom: -60%;
  right: -30%;
  transform: translate(-60%, -45%) scaleX(-1);
  width: 90%;
  z-index: 1;
  transition: transform 1s ease-out;
}

#sunshine-flare {
  position: absolute;
  top: -20%;
  left: 0%;
  width: 160%;
}

#sunshine-flare2 {
  position: absolute;
  top: -20%;
  left: 0%;
  width: 160%;
  opacity: 0.3;
  z-index: 2;
}

#sunshine-flareEffect {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: fadeInOut 5s ease-in-out infinite;
}

/* 
 gun shrine
*/

#scene-gun {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  background: url("assets/gun/bg.jpg");
  overflow: hidden;
}

#gun-character {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  animation: gun-character-upDown 2s ease-in-out infinite;
  z-index: 1;
  transform: translate(-50%, -50%);
}

#gun-hand {
  display: absolute;
  top: 30%;
  left: 48%;
  width: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: gun-hand-UpDown 0.5s ease-in-out infinite;
}

@keyframes gun-character-upDown {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -48%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes gun-hand-UpDown {
  0% {
    transform: translate(-50.25%, -0.25%);
  }
  25% {
    transform: translate(-49.75%, 0%);
  }
  50% {
    transform: translate(-50.25%, 0.25%);
  }
  75% {
    transform: translate(-49.75%, 0%);
  }
  100% {
    transform: translate(-50.25%, -0.25%);
  }
}

/* 
 water
*/

#scene-water {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  background: url("assets/water/bg.jpg");
}

#water-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: 2;
  transform: translate(-50%, -50%);
  animation: water-character 0.1s ease-in-out infinite;
  object-fit: cover;
}
.water-drop {
  position: absolute;
  width: 100%;
  height: 900%;
  animation: water-drop 0.2s ease-in-out infinite;
  transition: opacity 1s ease-out;
}

#water-drop1 {
  opacity: 0.3;
  z-index: 3;
}
#water-drop2 {
  opacity: 0.2;
  z-index: 1;
}

@keyframes water-character {
  0% {
    transform: translate(-50.5%, -50.25%);
  }
  25% {
    transform: translate(-49.95%, -50%);
  }
  50% {
    transform: translate(-50.05%, -50.25%);
  }
  75% {
    transform: translate(-49.95%, -50%);
  }
  100% {
    transform: translate(-50.05%, -50.25%);
  }
}

@keyframes water-drop {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}
@keyframes water-drop2 {
  0% {
    top: 100%;
  }
  100% {
    top: 0%;
  }
}

/* 
 mobile
*/

@media (max-aspect-ratio: 3840/2160) {
  audio {
    width: 70%;
  }

  #button-top {
    right: 5%;
    bottom: 3%;
  }
  #lyric-original {
    font-size: 1.5rem;
  }
  #lyric-pronunciation {
    font-size: 0.5rem;
  }
  #lyric-korean {
    font-size: 1rem;
  }

  #scene-main {
    height: 100vh;
    position: relative;
  }
  #main-video {
    height: 100vh;
    width: 177.78vh;
    position: absolute;
    left: 50%; /* % of surrounding element */
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  #main-title {
    width: 70%;
  }
  #main-scroll {
    width: 15%;
  }

  #shrine-img-frame {
    height: 100vh;
  }

  #scene-sunshine {
    background-position: 30% 0%;
  }
  #sunshine-flare {
    top: 0%;
    left: -60%;
    transform: scaleX(-1);
  }
  #sunshine-flare2 {
    top: 0%;
    left: -60%;
    transform: scaleX(-1);
  }
  #sunshine-hand {
    top: 40%;
    left: 80%;
    width: 200vh;
  }

  #gun-character {
    height: 105vh;
    width: 186.669vh;
  }
  #gun-hand {
    width: 65vh;
  }

  #water-bg {
    height: 100vh;
    width: 177.78vh;
  }

  .water-drop {
    height: 700%;
    width: 200%;
  }
}
