body::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  scroll-snap-type: y mandatory;
}

video {
  width: 100%;
  height: 100%;
  background: url("../assets/main.jpg");
  background-size: cover;
  scroll-snap-align: start;
}
canvas {
  scroll-snap-align: start;
}
img {
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translateX(50%, 50%);
}
